*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.089);
}
.furni-text-logo{
     color: white; /*change to white */
     font-size: 30px;
     margin-left: 100px;
}
 .nav-div{ /*parent of nav section */
    display: flex;
    margin-left: 50px;
    padding-top: 30px;
}
.navlist{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 310px;
}
li a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.425);
}
.home-nav{
    margin-right: 30px;
}
.about-nav{
    margin-left: 20px;
}
li a:hover{
    color: white;
    text-decoration-line: underline;
}
.shoping-cart{
    margin-left: 50px;
}
.nav-section{
    background-color: #085a3db0;
     height: 550px; 
    width: 100%; 
   
}
.text-inside-home-div{
    font-size: 30px;
    color: white;
}
.useless-words{
    font-size: 15px;
    margin-top: 20px;
}
.useless-words2{
    font-size: 15px;
    margin-top: 20px;
    margin-top: 12px;
    
}
.shop-now-btn{
padding-top: 20px;
padding-bottom: 20px;
padding-left: 40px;
padding-right: 40px;
border-radius: 50px;
border: none;
background-color: rgba(255, 255, 0, 0.685);
cursor: pointer;
margin-top: 20px;
}
.shop-now-btn:hover{
    background-color: rgba(255, 255, 0, 0.849);
}
.explore-btn{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    border: solid rgba(255, 255, 255, 0.438);
    cursor: pointer;
    margin-top: 20px;
}
.explore-btn:hover{
    border: solid white;
}
.text-inside-home-div{
    margin-top: 80px;
    margin-left: 110px;
}
.couch-img{
    height: 550px;
   
}
.hero-div{
    display: flex;
}
.light-p-under-title{
    color: rgba(0, 0, 0, 0.644);
    margin-top: 10px;
    font-size: 15px;
}
.title-p{
    font-size: 15px;
    margin-top: 10px;
}
.title-p2{
    font-size: 15px;
    margin-top: 10px;
}
.title-p3{
    font-size: 15px;
    margin-top: 10px;
}
.title-p4{
    font-size: 15px;
    margin-top: 10px;
}
.useless-words3{
    color: rgba(0, 0, 0, 0.644);
    margin-top: 10px;
    font-size: 15px;
}
.useless-words4{
    color: rgba(0, 0, 0, 0.644);
    margin-top: 10px;
    font-size: 15px;
}
.useless-words5{
    color: rgba(0, 0, 0, 0.644);
    margin-top: 10px;
    font-size: 15px;
}
.parent-icons{
    display: flex;
    gap: 25px;
    margin-top: 70px;
}
.fast-delivery-div{
    margin-left: 100px;
}
.icons-section{
    margin-top: 150px;
}

.chair-heading-txt{
    font-size: 33px;
    color: rgba(0, 0, 0, 0.856);
}
.useless-words2i{
    color: rgba(0, 0, 0, 0.644);
    margin-top: 10px;
}
.useless-words-div{
    margin-top: 20px;
}
.explore-btn2{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    cursor: pointer;
    margin-top: 25px;
}
.explore-btn2:hover{
    background-color: rgba(0, 0, 0, 0.952);
}
.img1-div{
    width: 250px;
}
.pro1{
    height: 250px;
}
.pro1:hover{
    height: 260px;
    transition: 0.1s;
}
.price1{
    font-size: 20px;
    text-align: center;
}

.img2-div{
    width: 250px;
}
.pro2{
    height: 250px;
}
.pro2:hover{
    height: 260px;
    transition: 0.1s;
}
.price2{
    font-size: 20px;
    text-align: center;
}


.img3-div{
    width: 250px;
}
.pro3{
    height: 250px;
}
.pro3:hover{
    height: 260px;
    transition: 0.1s;
}
.price3{
    font-size: 20px;
    text-align: center;
}

.img4-div{
    width: 250px;
}
.pro4{
    height: 250px;
}
.pro4:hover{
    height: 260px;
    transition: 0.1s;
}
.price4{
    font-size: 20px;
    text-align: center;
}
.div-parent-chair{
    display: flex;
    gap: 40px;
    margin-top: 210px;
}
.chair-heading-txt-div{
    margin-left: 140px;
}

.heading-txt{
    font-size: 45px;
    text-align: center;
    margin-top: 120px;
   
}
.para-testimonial{
    color: rgba(0, 0, 0, 0.644);
    font-size: 20px;
    margin-top: 45px;
}
.person-testimonial{
    height: 100px;
    border-radius: 100px;
    margin-top: 40px;
}
.person-testimonial2{
    height: 120px;
    width: 130px;
    border-radius: 60px;
    margin-top: 40px;
}
.person-testimonial3{
    height: 120px;
    width: 130px;
    border-radius: 60px;
    margin-top: 40px;
}
.person-testimonial4{
    height: 120px;
    width: 130px;
    border-radius: 60px;
    margin-top: 40px;
}
.person-testimonial5{
    height: 120px;
    width: 130px;
    border-radius: 60px;
    margin-top: 40px;
}
.name-person{
    font-size: 20px;
}
.founder-txt{
    color: rgba(0, 0, 0, 0.644); 
}
.testimonial-1{
    justify-items: center;
}
.testimonial-2{
    justify-items: center;
}
.testimonial-3{
    justify-items: center;
}
.testimonial-4{
    justify-items: center;
}
.testimonial-5{
    justify-items: center;
}
 .parent-testimonial{
    justify-items: center;
   
 }
.arrow {
    cursor: pointer;
    font-size: 36px;
    user-select: none;
  }
  .testi {
    display: none;
  }
  .testi.active {
    display: block;
  }
  .blog-head-txt{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.897); 
    margin-left: 60px;
  }
  .blog-img{
    height: 230px;
    width: 350px;
    border-radius: 20px;
  }
  .blog-p{
    color: rgba(0, 0, 0, 0.897);
    margin-top: 15px; 
  }
  .blog-p2{
    font-size: 11px;
    color: rgba(0, 0, 0, 0.897); 
    margin-top: 5px;
    
  }
  .parent-blog{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 70px;
  }
  .blog1-div{
    margin-left: 50px;
  }
  .blog-section{
    margin-top: 200px;
  }
  .envo-img{
    height: 30px;
  }
  .envo-txt{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.822);
    margin-top: 5px;
  }
  .envo-parent-txt{
    display: flex;
    gap: 15px;
    margin-left: 100px;
    padding-top: 100px;
  }
  .form1{
    height: 40px;
    width: 200px;
    border: solid rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    margin-left: 100px;
  }
  .form2{
    height: 40px;
    width: 200px;
    border: solid rgba(0, 0, 0, 0.425);
    border-radius: 10px;
  }
.tele{
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
     
}
.sofa-img{
    height: 350px;
    position: relative;
    left: 150px;
    bottom: 280px;
}
.parent-form{
    display: flex;
    gap: 80px;
    margin-top: 15px;
}
.form-section{
    margin-top: 200px;
    background-color: white;
}
.footer-section{
    background-color: white;
}
.div1-footer-p{
    color: rgba(0, 0, 0, 0.616);
}
.furni-footer-head{
    color: rgba(0, 183, 255, 0.329);
}
.in {
    height: 30px;
  }
  .icons-flex{
    margin-top: 20px;
  }
  .div1-footer{
    margin-top: 30px;
  }
  .li2 a{
    color: rgba(0, 0, 0, 0.918);
    font-size: 15px;

  }
  .li2 a:hover{
    color: rgba(0, 0, 0, 0.582);
    text-decoration: none;
  }
  .li2{
    margin-top: 20px;
  }
  .parent-footer-div{
    display: flex;
    gap: 100px;
  }
  ul1{
    list-style: none;
  }
  .footer-section{
    padding-left: 100px;
    position: relative;
    bottom: 250px;
  }
  .final-p{
    text-align: center;
    margin-top: 80px;
    color: #0000006e;
  }
 
  
  