*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.089);
}
.furni-text-logo{
     color: white; /*change to white */
     font-size: 30px;
     margin-left: 100px;
}
 .nav-div{ /*parent of nav section */
    display: flex;
    margin-left: 50px;
    padding-top: 30px;
}
.navlist{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 310px;
}
li a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.425);
}
.home-nav{
    margin-right: 30px;
}
.about-nav{
    margin-left: 20px;
}
li a:hover{
    color: white;
    text-decoration-line: underline;
}
.shoping-cart{
    margin-left: 50px;
}
.nav-section{
    background-color: #085a3db0;
     height: 350px; 
    width: 100%; 
   
}
.shop-head-txt{
    font-size: 50px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}

.img1-div{
    width: 250px;
}
.pro1{
    height: 250px;
}
.pro1:hover{
    height: 260px;
    transition: 0.1s;
}
.price1{
    font-size: 20px;
    text-align: center;
}

.img2-div{
    width: 250px;
}
.pro2{
    height: 250px;
}
.pro2:hover{
    height: 260px;
    transition: 0.1s;
}
.price2{
    font-size: 20px;
    text-align: center;
}


.img3-div{
    width: 250px;
    margin-left: 80px;
}
.pro3{
    height: 250px;
}
.pro3:hover{
    height: 260px;
    transition: 0.1s;
}
.price3{
    font-size: 20px;
    text-align: center;
}

.img4-div{
    width: 250px;
}
.pro4{
    height: 250px;
}
.pro4:hover{
    height: 260px;
    transition: 0.1s;
}
.price4{
    font-size: 20px;
    text-align: center;
}
.parent-shop{
    display: flex;
    gap: 60px;
    margin-top: 100px;
}

.envo-img{
    height: 30px;
  }
  .envo-txt{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.822);
    margin-top: 5px;
  }
  .envo-parent-txt{
    display: flex;
    gap: 15px;
    margin-left: 100px;
    padding-top: 100px;
  }
  .form1{
    height: 40px;
    width: 200px;
    border: solid rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    margin-left: 100px;
  }
  .form2{
    height: 40px;
    width: 200px;
    border: solid rgba(0, 0, 0, 0.425);
    border-radius: 10px;
  }
.tele{
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
     
}
.sofa-img{
    height: 350px;
    position: relative;
    left: 150px;
    bottom: 280px;
}
.parent-form{
    display: flex;
    gap: 80px;
    margin-top: 15px;
}
.form-section{
    margin-top: 200px;
    background-color: white;
}

.form-section{
    margin-top: 200px;
    background-color: white;
}
.footer-section{
    background-color: white;
}
.div1-footer-p{
    color: rgba(0, 0, 0, 0.616);
}
.furni-footer-head{
    color: rgba(0, 183, 255, 0.329);
}
.in {
    height: 30px;
  }
  .icons-flex{
    margin-top: 20px;
  }
  .div1-footer{
    margin-top: 30px;
  }
  .li2 a{
    color: rgba(0, 0, 0, 0.918);
    font-size: 15px;

  }
  .li2 a:hover{
    color: rgba(0, 0, 0, 0.582);
    text-decoration: none;
  }
  .li2{
    margin-top: 20px;
  }
  .parent-footer-div{
    display: flex;
    gap: 100px;
  }
  ul1{
    list-style: none;
  }
  .footer-section{
    padding-left: 100px;
    position: relative;
    bottom: 250px;
  }
  .final-p{
    text-align: center;
    margin-top: 80px;
    color: #0000006e;
  }

  
  